<ion-content>
  <ion-header collapse="condense" class="px-6 pt-3">
    <a fill="clear">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14M5 12l6 6m-6-6l6-6"
        />
      </svg>
    </a>
  </ion-header>

  <ion-grid class="px-4">
    <ion-col>
      <ion-text>
        <p class="font-semibold text-2xl">Let's get started</p>
        <p class="text-gray-500 pt-0.5">
          Join Now to Customize Your Meal Plans & Seamlessly Manage Your Health
          Journey
        </p>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text>
        <p class="text-gray-500 pb-1">Email</p>
      </ion-text>
      <ion-input
        fill="outline"
        class="bg-transparent border border-gray-300 text-black text-base rounded-lg"
        placeholder="Enter email"
      ></ion-input>
      <ion-text class="flex pt-2">
        <p class="text-gray-400 text-sm font-medium">Already a Member?</p>
        <a class="text-sm text-orange-500 font-bold pl-1" href="">Login Here</a>
      </ion-text>
    </ion-col>
    <div class="h-96"></div>
    <ion-col>
      <ion-button expand="block" shape="round" class="font-semibold">
        Continue
      </ion-button>
      <div class="pt-4">
        <ion-row class="flex justify-center">
          <ion-text class="text-sm"> By signing up you agree to the </ion-text>
          <a href="" class="text-sm text-orange-500 pl-1">Terms of Use</a>
        </ion-row>
        <ion-row class="flex justify-center">
          <ion-text class="text-sm"> and </ion-text>
          <a href="" class="text-sm text-orange-500 pl-1">Privacy Policy</a>
        </ion-row>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>
